

@import url('fonts.css');


body{
    
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
};

#ImagenMain{
    background-image: url(/assets/img/img3.jpg);
    color: black;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}




